<%include ./partials/header%>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-1">
            <ul>
                <li>link1</li>
                <li>link2</li>
                <li>link3</li>
                <li>link4</li>
                <li>link5</li>
            </ul>
            <a href="/">Go back</a>
        </div>
        <div class="col-md-8 mx-auto ">
            <div class="thumbnail ">
                <h4><%=pet.name%></h4>
                <div id="show_pet_image">
                    <img src="<%=pet.image%>" alt="">
                    <%if(currentUser && pet.author.id.equals(currentUser._id)){%>
                        <a href="/show/<%=pet._id%>/edit" class="btn btn-success btn-sm show_pet_image_btn_one">Edit</a>
                        <form action="/show/<%=pet._id%>?_method=DELETE" method="post">
                            <button class="btn btn-danger btn-sm show_pet_image_btn_two" onclick="return confirm('Are you sure you want to delete this item?');">Delete</button>
                        </form>
                    <%}%>
                </div>
                <div class="caption-full">
                   
                    
                    <h6><%=pet.description%></h6>
                    <h5>Created by <%=pet.author.username%></h5>
                    
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="comments">
                <h5>Comments:</h5>
                <div id="show_comment">
                    <%pet.comments.forEach(function(comment){%>
                    <div class="row">
                        <div class="col-md-10 pt-1">
                            <a href="#"><%=comment.author.username%></a>
                        </div>
                        <div class="col-md-1 m-0 p-0">
                            <%if(currentUser && comment.author.id.equals(currentUser._id)){%>                               
                                <form action="/show/<%=pet._id%>/comments/<%=comment._id%>?_method=DELETE" method="post" class="m-0 p-0">                        
                                    <button class="btn btn-sm m-0 p-0 comment_btn" onclick="return confirm('Are you sure you want to delete this item?');" ><i class="fa fa-times-circle comment-settings-btn"></i></button>                                                                             
                                </form>                                        
                            <%}%>
                        </div>
                        <div class="col-md-1 m-0 p-0">
                            <%if(currentUser && comment.author.id.equals(currentUser._id)){%>                               
                                <button class="btn btn-sm m-0 p-0 comment_btn" >
                                        <a href="/show/<%=pet._id%>/comments/<%=comment._id%>/edit" ><i class="fa fa-pencil-square comment-settings-btn"></i></a> 
                                </button>                                             
                            <%}%>
                        </div>  
                    </div>
                    <p id="show_comment_text"><%=comment.text%></p>
                    <hr>
                    <%});%>
                </div>
            </div>
            <form action="/show/<%=pet._id%>/comments" method="post">
    
                <div class="textarea">
                    <textarea id="comment_textarea" class="mt-1" type="text" name="text" placeholder="Add a comment" ></textarea>
                    <button class="btn btn-primary btn-sm mb-2" id="comment_btn" disabled><i class="fa fa-paper-plane"></i></button>
                    <br>
                </div>
                
              
            
            </form>
        </div>
    </div>
</div>
<script src="/js/showpage.js"></script>





<%include ./partials/footer%>