<%include ./partials/header%>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-2">
            <ul>
                <li>link1</li>
                <li>link2</li>
                <li>link3</li>
                <li>link4</li>
                <li>link5</li>
            </ul>
        </div>
        <div class="col-md-8 mx-auto">
            <div class="thumbnail ">
                <img src="<%=pet.image%>" alt="">
                <div class="caption-full">
                    <%if(currentUser && pet.author.id.equals(currentUser._id)){%>
                        <a href="/show/<%=pet._id%>/edit" class="btn btn-success btn-sm">Edit</a>
                        <form action="/show/<%=pet._id%>?_method=DELETE" method="post">
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    <%}%>
                    <h4><%=pet.name%></h4>
                    <h6><%=pet.description%></h6>
                    <h5>Created by <%=pet.author.username%></h5>
                    
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <h5>comments</h5>
            <a href="/show/<%=pet._id%>/comments/new">Add a comment</a>
            <%pet.comments.forEach(function(comment){%>
            <h5><%=comment.author.username%></h5>
            <p><%=comment.text%></p>
            <%if(currentUser && comment.author.id.equals(currentUser._id)){%>
                <a href="/show/<%=pet._id%>/comments/<%=comment._id%>/edit" class="btn btn-success btn-sm">Edit</a>
                <form action="/show/<%=pet._id%>/comments/<%=comment._id%>?_method=DELETE" method="post">
                    <button class="btn btn-danger btn-sm">Delete</button>
                </form>
            <%}%>
            <br>
            <%});%>
        </div>
    </div>
</div>





<%include ./partials/footer%>