<%include ./partials/header%>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <ul>
                <li>link1</li>
                <li>link2</li>
                <li>link3</li>
                <li>link4</li>
                <li>link5</li>
            </ul>
        </div>
        <div class="col-md-8 mx-auto">
            <div class="thumbnail">
                <img src="<%=pet.image%>" alt="">
                <div class="caption-full">
                    <h4><%=pet.name%></h4>
                    <h6><%=pet.description%></h6>
                    
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <h5>comments</h5>
            <a href="/show/<%=pet._id%>/comments/new">Add a comment</a>
            <%pet.comments.forEach(function(comment){%>
            <h5><%=comment.writer%></h5>
            <p><%=comment.text%></p>

            <%});%>
        </div>
    </div>
</div>





<%include ./partials/footer%>